* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 15px;
   
}
.logo {
    margin-left: -45px;
}
.retrac_logo {
    width: 150px;
}
.list-items {
    display: flex;
    gap: 10px;
    margin: initial;
}
.list-items li {
    list-style: none;
}
.list-items li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
}