.topW {
    display: flex;
    margin-top: 14px;
}
.top_Wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    
}
.left {
    display: flex;
    gap: 10px;
    width: 70%;
}
.left li {
    list-style: none;
}
.left li a {
    text-decoration: none;
    color: black;
    font-size: 10px;
    text-transform: uppercase;
}
li.border_line {
    border: 1px solid;
    padding: 10px;
    border-top: none;
    border-bottom: none;
    border-left: none;


}
/* .caretDown {
    
} */
.right {
    display: flex;
    width: 30%;
    gap: 10px;

}
input.search_input {
    flex-grow: .75;
    border-radius: 5px;
}
::placeholder  {
    padding-left: 12px;
}
.search_icon {
    border: 1px solid black;
    padding: 5px 12px;
    background-color: black;
    color: white;
    border-radius: 5px;
}